examples/Collect Multiple Values.json
[
    {
        "id": "05156e99b1d98425",
        "type": "group",
        "z": "613529d99b084479",
        "name": "node-red-persistent-values example: Collect Multiple Values",
        "style": {
            "label": true
        },
        "nodes": [
            "23502e64849ddc1d",
            "5d68c0af5d524ffd",
            "24e0c021885c319b",
            "299e109b7ff74314",
            "75eed2f0b5733bac",
            "46596db8a7fe4b87",
            "f259989848aae716",
            "fe5afac947cc5fbc",
            "f6b762497d432bcf",
            "fc487d7a5e510131",
            "a3dce96fd926cf46",
            "6095559003933bc8",
            "c656f47ce9c41dba"
        ],
        "x": 74,
        "y": 79,
        "w": 1132,
        "h": 422
    },
    {
        "id": "23502e64849ddc1d",
        "type": "comment",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "*Important*: Make config available",
        "info": "# Workaround for import of example configuration\n\nPersistent values relies on an interactive relation between the\nconfiguration and the concrete presistent values node.\n\nDue to limitations of Node-RED the configuration is not properly\nregister with the backend when importing an example flow.\n\nTherefore the following workaround shall be applied after the\ninitial example import:\n\n 1. Open the edit dialog of any of the presistent value nodes.\n 2. Open the edit dialog of the referenced configuration.\n 3. Press \"Update\".\n \nAfter these steps the drop-down menu of the \"Value\" should be populated with\nthe configured persistent values.",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "5d68c0af5d524ffd",
        "type": "persistent value",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "",
        "valuesConfig": "bdcc10eee2fc3654",
        "valuesConfigName": "RoomStates",
        "valueId": "c532de90-a577-11ed-b30d-21918a802e2e",
        "value": "DoorOpen",
        "command": "write",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "x": 550,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "24e0c021885c319b",
        "type": "persistent value",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "",
        "valuesConfig": "bdcc10eee2fc3654",
        "valuesConfigName": "RoomStates",
        "valueId": "c538aaf0-a577-11ed-b30d-21918a802e2e",
        "value": "OpenWindows",
        "command": "write",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "x": 560,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "299e109b7ff74314",
        "type": "inject",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Door: Open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "5d68c0af5d524ffd"
            ]
        ]
    },
    {
        "id": "75eed2f0b5733bac",
        "type": "inject",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Door: Close",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "5d68c0af5d524ffd"
            ]
        ]
    },
    {
        "id": "46596db8a7fe4b87",
        "type": "inject",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Open Windows: 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "24e0c021885c319b"
            ]
        ]
    },
    {
        "id": "f259989848aae716",
        "type": "inject",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Open Windows: 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "24e0c021885c319b"
            ]
        ]
    },
    {
        "id": "fe5afac947cc5fbc",
        "type": "comment",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Update the states (Write)",
        "info": "",
        "x": 210,
        "y": 180,
        "wires": []
    },
    {
        "id": "f6b762497d432bcf",
        "type": "comment",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Collect all states and assess the overall situation",
        "info": "",
        "x": 280,
        "y": 420,
        "wires": []
    },
    {
        "id": "fc487d7a5e510131",
        "type": "persistent value",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "",
        "valuesConfig": "bdcc10eee2fc3654",
        "valuesConfigName": "RoomStates",
        "valueId": "c532de90-a577-11ed-b30d-21918a802e2e",
        "value": "DoorOpen",
        "command": "read",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": true,
        "collectValuesMsgProperty": "states",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "6095559003933bc8"
            ],
            []
        ]
    },
    {
        "id": "a3dce96fd926cf46",
        "type": "inject",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "Collect and assess overall situation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "fc487d7a5e510131"
            ]
        ]
    },
    {
        "id": "6095559003933bc8",
        "type": "persistent value",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "",
        "valuesConfig": "bdcc10eee2fc3654",
        "valuesConfigName": "RoomStates",
        "valueId": "c538aaf0-a577-11ed-b30d-21918a802e2e",
        "value": "OpenWindows",
        "command": "read",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": true,
        "collectValuesMsgProperty": "states",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "x": 840,
        "y": 460,
        "wires": [
            [
                "c656f47ce9c41dba"
            ],
            []
        ]
    },
    {
        "id": "c656f47ce9c41dba",
        "type": "function",
        "z": "613529d99b084479",
        "g": "05156e99b1d98425",
        "name": "everything closed?",
        "func": "// Get states from the collected values msg property\nconst door_open = msg.states[\"RoomStates_DoorOpen\"];\nconst open_windows = msg.states[\"RoomStates_OpenWindows\"];\n\n// Assess to overall situation\nif(door_open === false && open_windows === 0) {\n    node.status({fill: 'green', shape: 'ring', text: 'Everything closed.'});\n    \n    return msg; // Continue flow as overall situation is safe.\n\n} else {\n    node.status({ fill: 'red', shape: 'dot', text: 'Door or any window still open!' });\n    \n    return null; // Do not continue.\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "bdcc10eee2fc3654",
        "type": "persistent values config",
        "name": "RoomStates",
        "values": [
            {
                "id": "c532de90-a577-11ed-b30d-21918a802e2e",
                "name": "DoorOpen",
                "datatype": "bool",
                "default": false,
                "scope": "global",
                "storage": "default"
            },
            {
                "id": "c538aaf0-a577-11ed-b30d-21918a802e2e",
                "name": "OpenWindows",
                "datatype": "num",
                "default": 3,
                "scope": "global",
                "storage": "default"
            }
        ]
    }
]